@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --heading-color: black;
  --light: #ead8c0;
  --medium: #af8f6f;
  --dark: #74512d;
  --accent: #a92e70;
  --shadow: #efefef;
  --current-nav-color: var(--accent);
  --nav-links: black;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Albert Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Platypi", serif;
  margin: 0;
  padding-bottom: 10px;
}

h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}

a {
  color: var(--dark);
  &:hover {
    color: var(--accent);
  }
}

body:has(.side-menu:checked) {
  /* overflow: hidden; */
  .wrapper {
    .navbar {
      nav {
        max-height: 100%;
      }
    }
  }
}

/* start from mobile portrait */

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  .navbar {
    z-index: 100;
    background: white;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    header,
    nav,
    nav > ul {
      padding: 0;
      margin: 0;
    }
    header {
      display: flex;
      text-align: center;
      div {
        padding: 0 30px;
      }
      a {
        text-decoration: none;
        color: black;
      }
      img {
        width: 65px;
        max-width: 100%;
      }
      h1 {
        font-size: 1.3em;
        margin-bottom: -10px;
      }
      h2 {
        font-family: "Dancing Script", cursive;
        font-size: 1.1em;
      }
    }
    .hamburger-menu {
      .side-menu {
        display: none;
        &:checked {
          ~ .hamb .hamb-line {
            background-color: transparent;
            &::before {
              transform: rotate(-45deg);
              top: 0;
            }
            &::after {
              transform: rotate(45deg);
              top: 0;
            }
          }
        }
      } /* Hide checkbox */
      @media screen and (min-width: 825px) {
        display: none;
      }
    }
    /* Menu Icon */
    .hamb {
      cursor: pointer;
      float: right;
      padding: 40px 20px;
    } /* Style label tag */

    .hamb-line {
      background: black;
      display: block;
      height: 2px;
      position: relative;
      width: 24px;
      &::before,
      &::after {
        background-color: black;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }
      &::before {
        top: 5px;
      }
      &::after {
        top: -5px;
      }
    } /* Style span tag */
    nav {
      width: 100%;
      height: 100%;
      position: fixed;
      overflow: hidden;
      top: 75px;
      max-height: 0;
      background-color: white;
      transition: max-height 0.5s ease-out;
      text-align: center;
      ul {
        display: flex;
        list-style: none;
        flex-direction: column;
        padding-top: 20px;
        li {
          font-family: "Platypi", serif;
          font-weight: 700;
          margin: 15px;
          text-underline-offset: 10px;
          font-size: 1.5rem;
          a {
            &.current {
              color: var(--current-nav-color);
            }
            color: var(--nav-links);
            text-decoration: none;
            &:hover {
              text-decoration: underline;
              color: var(--current-nav-color);
            }
          }
        }
      }
    }
  }
  main {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    & > h1,
    & > h2,
    & > h3,
    & > p,
    & > div {
      padding: 0 5%;
    }
    .hero {
      text-align: center;
      height: 225px;
      position: relative;
      &::before {
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        background-image: url(/images/group.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-origin: content-box;
      }
      h2 {
        color: white;
        font-size: 1rem;
        padding-top: 25px;
        width: 75%;
        margin: auto;
        position: relative;
        span {
          padding: 0 10px 5px 10px;
          border-radius: 10px;
          background-color: black;
          box-decoration-break: clone;
        }
      }
    }
    .services,
    .latest-posts,
    .values,
    .contact-form {
      padding: 20px 5%;
      h2,
      h3 {
        text-align: center;
      }
      .tiles {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin: 25px 0 50px 0;
        flex-direction: column;
        div {
          margin: 0 auto;
          filter: drop-shadow(5px 5px 4px var(--shadow));
          width: 80%;
          background-color: var(--light);
          padding: 40px;
          a {
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            &:hover {
              text-decoration: underline;
              color: var(--accent);
            }
          }
        }
      }
    }
    .values {
      color: white;
      background-color: var(--dark);
      p {
        text-align: justify;
      }
    }
    .contact-form {
      background-color: var(--medium);
      form {
        padding: 0 5%;
        input,
        textarea {
          width: 100%;
          margin: 10px 0;
          line-height: 30px;
          border-radius: 10px;
          border: 1px solid black;
          padding: 10px;
        }
      }
    }
    .contact-page {
      .contact-form {
        background-color: white;
        form {
          input,
          textarea {
            background-color: var(--light);
          }
        }
      }
    }
  }

  footer {
    background: var(--dark);
    text-align: center;
    color: white;
    margin-top: auto;
    padding: 10px 0;
  }
}
