@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --heading-color: black;
  --light: #ead8c0;
  --medium: #af8f6f;
  --dark: #74512d;
  --accent: #a92e70;
  --shadow: #efefef;
  --current-nav-color: var(--accent);
  --nav-links: black;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Albert Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Platypi", serif;
}

a {
  color: var(--dark);
  &:hover {
    color: var(--accent);
  }
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  .navbar {
    z-index: 100;
    background: white;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    header {
      display: flex;
      text-align: center;
      padding-left: 100px;
      img {
        width: 65px;
        max-width: 100%;
        margin: 0 20px;
      }
      h1 {
        line-height: 2.5rem;
      }
      h2 {
        font-family: "Dancing Script", cursive;
        margin-top: -20px;
      }
    }
    nav {
      text-align: center;
      padding-right: 100px;
      ul {
        display: flex;
        list-style: none;
        li {
          font-family: "Platypi", serif;
          font-weight: 700;
          margin: 15px;
          text-underline-offset: 10px;
          font-size: 1.5rem;
          a {
            &.current {
              color: var(--current-nav-color);
            }
            color: var(--nav-links);
            text-decoration: none;
            &:hover {
              text-decoration: underline;
              color: var(--current-nav-color);
            }
          }
        }
      }
    }
  }
  main {
    padding: 0 25%;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    .hero {
      margin: 0 -50%;
      text-align: center;
      height: 700px;
      position: relative;
      &::before {
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        background-image: url(/images/group.jpg);
        background-size: 100%;
        background-position-y: center;
        background-repeat: no-repeat;
        background-origin: content-box;
      }
      h2 {
        color: white;
        font-size: 2rem;
        width: 75%;
        margin: auto;
        padding-top: clamp(25px, 100px, 125px);
        position: relative;
        span {
          padding: 0 20px 10px 20px;
          border-radius: 10px;
          background-color: black;
          box-decoration-break: clone;
        }
      }
    }
    .services,
    .latest-posts,
    .focus {
      margin: 150px -25%;
      text-align: center;
      h2 {
        font-size: 2.5rem;
        margin-bottom: 50px;
      }
      .tiles {
        display: flex;
        justify-content: space-between;
        h3 {
          font-size: 1.75rem;
        }
        div {
          font-size: 1.15rem;
          filter: drop-shadow(5px 5px 4px var(--shadow));
          width: 30%;
          text-align: center;
          padding: 0 20px 50px 20px;
          background-color: var(--light);
        }
      }
    }
    .focus {
      color: white;
      margin: 0 -50%;
      padding: 20px 0 100px 0;
      background-color: var(--dark);
      p {
        width: 80%;
        text-align: left;
        margin: 0 auto 20px auto;
      }
    }
    .latest-posts {
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          display: inline;
        }
      }
    }
  }

  footer {
    background: white;
    text-align: center;
    color: darkgray;
    margin-top: auto;
    padding: 10px 0;
  }
}
