@import url("https://fonts.googleapis.com/css2?family=Comme:wght@100..900&family=Yellowtail&display=swap");

:root {
  --sidebar-background: rgba(0, 0, 0, 0.04);
  --sidebar-links: rgba(0, 0, 0, 0.4);
  --sidebar-links-hover: #2c2c2c;
  --current-nav-color: black;
  --heading-color: black;
  --light: #d60270;
  --medium: #744d96;
  --dark: #0038a8;
  --action-color: var(--dark);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Comme", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  .sidebar {
    padding: 40px 0;
    width: 30%;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    overflow-y: scroll;
    z-index: 1001;
    background: var(--sidebar-background);
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    a {
      color: var(--sidebar-links);
    }
    @media (min-width: 992px) {
      width: 30%;
    }
    @media (max-width: 991.98px) {
      width: 270px;
      -moz-transform: translateX(-270px);
      -webkit-transform: translateX(-270px);
      -ms-transform: translateX(-270px);
      -o-transform: translateX(-270px);
      transform: translateX(-270px);
      padding-top: 2em;
      background: rgba(0, 0, 0, 0.04);
    }
    header {
      text-align: center;
      h1 {
        font-size: 2rem;
      }
      h2 {
        font-family: "Yellowtail", cursive;
        font-weight: 900;
        font-size: 2rem;
        margin-top: -25px;
      }
      img {
        display: inline-block;
        width: 100px;
        max-width: 100%;
      }
    }
    nav {
      text-align: center;
      ul {
        list-style: none;
        li {
          font-size: 1.1em;
          font-weight: 700;
          padding: 15px 0;
          text-underline-offset: 10px;
          a {
            text-decoration: none;
            &:hover {
              font-weight: 900;
              text-decoration: underline;
              color: var(--current-nav-color);
            }
          }
        }
      }
    }
    footer {
      position: absolute;
      bottom: 40px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.6);
      width: 100%;
      padding: 0 40px;
      .sidebar-form-field {
        display: block;
        label {
          display: block;
          padding: 10px 0;
        }
        input {
          height: 40px;
          padding: 5px;
        }
        input,
        textarea {
          width: 100%;
        }
        textarea {
          height: 100px;
        }
      }
      button {
        margin: 15px 0 0 0;
      }
    }
  }
  main {
    width: 100%;
    float: right;
    padding: 0 40px;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    @media (min-width: 992px) {
      width: 70%;
    }
  }
}
