<a href="#">
  <i></i>
</a>
<header>
  <img src="{{ '/images/logo.svg' | relative_url }}" alt="Asymmetrical infinity symbol logo, with a blue-purple-pink gradient from bottom-left to top-right" />
  <h1>Kate Donaldson</h1>
  <h2>Consulting & Coaching</h2>
</header>

<nav>
  {% assign current = resource.data.slug %}
  <ul>
    <li><a href="{{ '/' | relative_url }}" class="{% if current == "index" %}current{% endif %}">Home</a></li>
    <li><a href="{{ '/about' | relative_url }}" class="{% if current == "about" %}current{% endif %}">About</a></li>
    <li><a href="{{ '/posts' | relative_url }}" class="{% if current == "posts" %}current{% endif %}">Posts</a></li>
  </ul>
</nav>